NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:9000/api

NEXT_PUBLIC_PROJECT_NAME=Starter Kit
NEXT_PUBLIC_PROJECT_DESCRIPTION=Modern fullstack Next.js + NestJS starter kit
NEXT_PUBLIC_PROJECT_AUTHOR=Nikita Mochalov
